
<div class="tech-btm">
    <h4>Mail Bültenimize Katılın</h4>
    <p>Yeniliklerden hemen haberdar olmak için sende şimdi bize katıl</p>
    <form method="post">
        <input type="email" placeholder="Mail adresi" required="" name="Mail">
        <input type="submit" value="Abone ol">
    </form>
</div>