
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>BlogTitleListExcel</h1>

<a href="/Admin/Blog/ExportDynamicExcellBlogList" class="btn btn-outline-success">Excel Listesi İndir </a>