<h1>Yorum yaz</h1>
<div class="comment-top">
    <h4>Leave a Comment</h4>
    <div class="comment-bottom">
        <form method="post" action="/Comment/PartialAddcomment">
            <input class="form-control" type="text" name="UserName" placeholder="Adınız" required="">
            <input class="form-control" type="text" name="Title" placeholder="Konu" required="">     
            <textarea class="form-control" name="Content" placeholder="Yorumunuz..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Yorum yap</button>
        </form>
    </div>
</div>